body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: white;
    color: black;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

input[type="submit"], .style-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.high-contrast body {
    background-color: black;
    color: white;
}

.high-contrast .form-container {
    background-color: #000000;
    border: 2px solid #464646;
    color: white;
    align-items: center;
}

.high-contrast .inner-container {
    background-color: #222222;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #464646;
}

.high-contrast input[type="text"], 
.high-contrast input[type="email"], 
.high-contrast input[type="date"] {
    background-color: black;
    color: white;
    border: 1px solid #464646;
    position: relative;
    display: flex;
    justify-content: center;
}

.high-contrast input[type="submit"] {
    background-color: #FFD700; 
    width:100%; 
    position:relative;
    color: black;
}

.high-contrast .style-button {
    background-color: #FFD700;
    color: black;
    position:relative;
}
