body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 50px;
    background-image: url(./img/bg.png);
    background-repeat: repeat;
}

.bar {
    background-color: #012D41;
    height: 30px;
    width: 100%;
}

.content {
    display: flex;
    flex: 1;
    background-color: #FF404E;
}

.sidebar {
    background-color: #CCCCCC;
    width: 25%;
    padding: 20px;
    color: black;
}

.main-content {
    background-color: #FF404E;
    width: 75%;
    padding: 20px;
    color: #ff007f;
    display: flex;
}
